nav{
    text-align: center;
}
.header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 0, 0);
}
.para1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    justify-content: space-between;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.naruto{
    background-image: url(IMG/naruto.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    border-radius: 15px;
}
.narutoh{
    color: rgb(0, 25, 250);
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}
.narutop{
    color: rgb(236, 21, 21);
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}
.jjk{
    background-image: url(IMG/jujutsu-kaisen.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    border-radius: 15px;
}
.jjkh{
    color: rgb(0, 250, 42);
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}
.jjkp{
    color: rgb(16, 240, 240);
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}
.op{
    background-image: url(IMG/one-piece.jpg);
    opacity: 0.;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    border-radius: 15px;
}
.oph{
    color: rgb(250, 0, 0);
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}
.opp{
    color: rgb(236, 222, 21);
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}
